:root {
    --cor-principal: #ffffff;
    --cor-segundaria: #C0C0C0;

    --cor-botao-primario: #167BF7;

    --cor-de-fundo: #00030C;

    --cor-de-efeito: #4a86cf;
    --fonte-principal: 'Inter'


}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cor-botao-primario);
    border-radius: 0.8rem;
    padding: 1rem;
    color: var(--cor-principal);
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao__segundario{
    background-color: transparent;
    border-radius: 0.8rem;
    padding: 1rem;
    border: 3px solid var(--cor-principal);
    display: block;
    color: var(--cor-principal);
    text-align: center;
    text-decoration: none;
}

.container__aviso {
    font-size: 1rem;
    color: var(--cor-segundaria);
    text-align: center;
}

.container_titulo {
    font-size: 2.7rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.container__secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-principal);
    margin-bottom: 0.1em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivo__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivo {
    text-align: center;
}

.dispositivo__titulo {
    font-size: 48px;
    color: var(--cor-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--cor-principal);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link:hover {
    color: var(--cor-botao-primario);
}

.container__botao:hover {
    background-color: var(--cor-de-efeito);
}